git+https://github.com/ansible/ansible-sign
ncclient
paramiko
pykerberos
pyOpenSSL
pypsrp[kerberos,credssp]
pywinrm[kerberos,credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six
receptorctl
cryptography
botocore>=1.25.0
boto3>=1.22.0
pytz  # for schedule_rrule lookup plugin
python-dateutil>=2.7.0  # schedule_rrule
awxkit  # For import and export modulespackaging
dnspython
packaging
requests[security]
# for launchpadcollection
wheel
urllib3
requests
beautifulsoup4
lxml
# for creating kickstart files
passlib
